
body {
    background: url("../images/train-tracks.jpg");
    background-size: cover;
    color: white;
}
.jumbotron {
    background: #217DE4;
}
.train-schedule, .panel {
    background: black;
    opacity: .75;
}
table {
    text-align: center;
}
input {
    width: 100%;
    background: lightblue;
}
